*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Catalish Huntera";
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.spacing {
  height: 100vh;
}
.box-strategies_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.strategies_image-wrapper {
  border-radius: 2.5rem;
  flex-direction: column;
  justify-content: flex-end;
  width: 690px;
  display: flex;
  position: relative;
  /* box-shadow: 0 301px 361px #00000024; */
}
.strategies_static-image-wrapper {
  aspect-ratio: 1.85 / 1;
  border-radius: 2.5rem;
  align-items: flex-end;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.strategies_image {
  width: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}
.strategies_image-overlay-wrapper {
  position: absolute;
  inset: auto 0% 0%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 130%;
  overflow: hidden;
  object-position: 50% 100%;
  z-index: 2;
  border-bottom-right-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}
.strategies_image-overlay {
  z-index: -1;
  object-fit: cover;
  object-position: 50% 100%;
  width: 100%;
  display: block;
  position: relative;
}
.transitionfix {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
/* css card animation*/

.card {
  width: 500px;
  height: 300px;
  background-color: red;
  padding: 30px;
  color: #fff;
  font-size: 40px;
}

.card-animation .container-card {
  margin: 0 auto;
  width: 500px;
}
.card-animation .cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-animation .background-image {
  height: 100vh;
  width: 100%;
}
.card-animation .background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
